<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <style>
        .footer {
            width: 98%;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 10px;
            margin: 10px 0;
        }

        .footer p {
            margin: 20px;
            color: #fff;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="footer">
        <p>&copy; 2023 Mr.Fix it</p>
    </div>
</body>
</html>